.logo {
    display: none !important;

    /* background-image: url("path") !important;
     *  background-size: contain !important;
     *  background-repeat: no-repeat !important;
     *  background-position: center !important;
     *
     *  --------------- not working
     *  display: inline-block !important;
     *  width: 400px;
     *  height: 400px;
     *  -------------------
     *
     *   Hide any existing content if needed
     *  color: transparent !important;
     *  text-indent: -9999px !important; */
}


.wordmark {
    display: none !important;
}
