/*making the closing tabs smoother, (doesnt work with vertical tabs)*/
/*
.tabbrowser-tab:not([pinned], [fadein]) {
    transition-duration: 240ms, 240ms !important;
    transition-timing-function: linear, linear !important;
    visibility: visible !important;
}
.tab-content:not([fadein], [pinned]) .tab-icon-pending:not([fadein]),
.tab-icon-image:not([fadein]),
.tab-label:not([fadein]) {
    visibility: visible !important;
}
.tab-label:not([fadein]) {
    display: flex !important;
}
*/

/* tabs --- rotate close button */
#tabbrowser-tabs .tab-close-button {
background: none !important;
border: none !important;
}

#tabbrowser-tabs .tab-close-button:hover {
transform: rotate(720deg) !important;
transition: transform ease-in-out 2.5s !important;
background: none !important;
border: none !important;
}
