/* the minimize , maximize , and close button */
 .titlebar-button {
 background-size: 35px 35px;
 background-repeat: no-repeat;
 background-position: center;
 list-style-image: none !important;
 background-color: transparent !important;
 opacity: 0.7;
 position: relative; /* Ensure pseudo-element is positioned correctly */
 }

.titlebar-button:hover {
opacity: 1;
}

.titlebar-min {
background-image: radial-gradient(rgb(255, 179, 0) 55%, transparent 65%);
}

.titlebar-restore,

.titlebar-max {
background-image: radial-gradient(rgb(149, 255, 0) 55%, transparent 65%);
}

.titlebar-close {
background-image: radial-gradient(rgb(255, 0, 0) 55%, transparent 65%);
}

.titlebar-close:hover::after {
content: "X";
color: white;
font-size: 14px;
position: absolute;
top: calc(50% - 9px);
right: calc(50% - 4px);
}

.titlebar-min:hover::after {
content: "-";
color: white;
font-size: 14px;
position: absolute;
top: calc(50% - 10px);
right: calc(50% - 3px);
}

.titlebar-max:hover::after {
content: "+";
color: white;
font-size: 14px;
position: absolute;
top: calc(50% - 11px);
right: calc(50% - 5px);
}

/* Add "-" to the restore button when the window is maximized */
.titlebar-restore:hover::after {
content: "-";
color: white;
font-size: 14px;
position: absolute;
top: calc(50% - 10px);
left: calc(50% - 3px);
}
