/* Hide Firefox's built-in throbber */
.tab-throbber[busy]::before {
    display: none !important;
}

/* Custom GIF */
.tab-throbber[busy] {
    background-image: url("../img/Yin-and-Yang.gif") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 16px 16px !important;

    width: 16px !important;
    height: 16px !important;

    opacity: 1 !important;
    visibility: visible !important;
}
